.todo, .todo li {
	color: red;
	font-weight: bold;
/*
	visibility: hidden;
*/
}

.loading {
	color: green;
	font-weight: bold;
}

/*
.hidden {
	visibility: hidden;
}
*/
/* Reference styling inspired by the source code of Wikipedia pages */
.reference {
	vertical-align: super;
	font-size: 80%;
	line-height: 1;
}

img, figcaption {
	display: block;
/*	float: right; */
	margin: auto;
	max-width: 80%;
	max-height: 500px;
	width: auto;
	height: auto;
}
